.Left{
   padding: 90px 0px 0px 90px;
}

.width{
    width: 50%;
    margin: 90px;
}
.right{
    float: right;
    margin: 90px;
}
.border{
    border:2px;
    border-radius: 2px;
    width: 70%;
    margin: auto;
}