
<div class="border">
    <button type="button" class="btn-close right" aria-label="Close"></button>
<h5 class="Left">Initiation <span class="badge bg-primary ">Charter</span></h5>
<div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Project title</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Project Start Date</span>
    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Project End Date</span>
    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Project Objective</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Project manager</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Budget</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3 width">
    <span class="input-group-text" id="inputGroup-sizing-default">Scope </span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div>empty</div>

</div>